canvas.pixelated {
  image-rendering: pixelated;
}

canvas.drawable {
  cursor: crosshair;
}

@for $i from 1 through 10 {
  canvas.scale-#{$i} {
    transform: scale(#{$i});
  }
}

div.canvas {
  height: 1000px;
  overflow: auto;
}
